<style>
	body{
		color:#aaa;
		font-family: 'Karla', sans-serif;
	}
	.jumbotron{
		background:#ff6666;
		color:#fff;
		padding:100px 25px;
	}

	.jumbotron h1{
		color:#fff !important;
	}

	h1,h2,h3{
		font-family: 'Unica One', cursive;
		color: #ff6666;
	}
	h3 a{
		color: #ff6666 !important;
	}
	.col-icon{
		text-align:center;
		font-size:150px;
		color:#ff6666;
		position: relative;
		vertical-align: middle;
		height:100%;

	}
	.glyphicon{
		position: relative;
		vertical-align:middle;
		width:100%;
	}
	@media screen and (max-width: 768px) {
	    .col-icon {
	        text-align: center;
	        margin: 25px 0;

	    }
	    .container-fluid{
	    	padding:60px 50px;
	    	padding-left: 15% !important;
	    	padding-right: 15% !important;
    	}

    	.glyphicon{
    	}
    }
    .container-fluid{
    	padding:60px 50px;
	    	padding-left: 15% ;
	    	padding-right: 15%;

    }

    .bg-light{
    	background:#fff0f0;
    }

    .sim{
    	background:#fff;
    	padding:10px;
    	margin-bottom:20px;
    	border-radius:7px;
    }

    .col-xs-9{
    	text-align: left !important;
    }

    a{
    	
    	text-decoration:none !important;
    }
    a:hover{
    	background-color:transparent !important;
    	color: #ff6666 !important;
    }

    .footer{
    	background: #ff6666;
    	color: #fff;
    	padding-top:30px;
    	padding-bottom:30px;
    }
    .link-list{
    	padding-left: 0em;
    
    }
    .footer a{
    	color:#fff !important;
    }
    .footer a:hover{
    	color:#fff !important;
    }

    .navbar{
    	background:#ff6666;
    	font-family: 'Unica One', cursive;
    	z-index: 9999;
    	margin-bottom:0;
    	font-size:12px !important;
    	border:0;
    	border-radius:0;
    	letter-spacing:4px;
    	line-height:1.43 !important;
    }

    .navbar a{
    	color: #fff !important;
    	font-family: 'Unica One', cursive;

    }

    .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ff6666 !important;
    background-color: #fff !important;
	}	


.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
	.icon-bar{
		background-color: #fff !important;
	}

	.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    border:none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
    background-color: #fff !important;
	}

.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:active .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #ff6666 !important;
	}	

.navbar-collapse{
	border:none;

	
}

.sim img{
		max-width:100%;
		width:100%;
	}

/*.carousel-caption{

  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}*/

.carousel-indicators li{
	border:1px solid #ff6666;
}

.carousel-indicators .active{
	background-color: #ff6666;
}


.item img{
	margin:0 auto;
	min-height:300px;
	max-height:300px;
	max-width:100%;
}

.item .image-wrapper{
	height:300px;
	background-color: #ff6666;
}

.carousel{
	margin:60px 50px;
}

.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#fff0f0;
}
</style>

<script>

$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });

  $('.carousel').carousel();

})

</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">AutiSim</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#simulations">SIMULATIONS</a></li>
        <li><a href="#faq">AUTISM FAQ</a></li>

        <li><a href="#information">RESOURCES</a></li>
        <!--<li><a href="#footer">CREDITS</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
	<h1>AutiSim</h1>
	<p>A collection of simulations designed to show aspects of everyday life for autistic people.</p>
</div>

<div class="container-fluid" id="about">
	<div class="row">
		<div class="col-sm-9">
		<h2>About</h2>

		<h4>AutiSim is a mini simulation collection that tries to simulate some of the experiences of living with ASD. Many of the simulations are designed in a way that you are meant to lose. Overall, the simulations aim to promote empathy with the ASD community.</h4>
		<p>The simulations are based off of my personal experiences as well as typical characteristics of autistic people, and are purposely over-dramatized so that neurotypical people can see a sharper contrast. Autism is a spectrum, so it will affect people differently. For example, one autistic person may be highly affected by the sensory aspect of ASD, while nearly unaffected by social and executive deficits. Meanwhile, another autistic person may be highly affected by social and executive deficits while nearly unaffected by sensory overload, while someone else may be moderately affected by both.</p>
		</div>
		<div class= "col-sm-3 col-icon">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</div>
</div>

<div class="container-fluid text-center bg-light" id="simulations">
<h2>Simulations</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
<% @simulations.each_with_index do |s, i| %>
  <li data-target="#carousel-example-generic" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
<% end %>
    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <%@simulations.each do |s|%>

    <div class="item <%="active" if s == @simulations.first%>">
    	<div class="image-wrapper"><%=image_tag s.image%></div>
      <div class="carousel-caption">
        <h3><%=link_to s.title,simulation_path(s)%></h3>
      </div>
    </div>

    <%end%>
   <!--<div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>-->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--<%@simulations.each do |s|%>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="sim">
		<%=image_tag s.image%>
		<h3><%=link_to s.title,simulation_path(s)%></h3>
	</div>
	</div>
<%end%>-->
</div>

<div class="container-fluid" id="faq">
<h2 class="text-center">Autism FAQ</h2>
<div class="row">
		<div class= "col-sm-3 col-icon">
			<span class="glyphicon glyphicon-question-sign"></span>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h4>What is autism?</h4>
			Autism is a spectrum of neurological differences that affects approximately one percent of the population.
			<h4>Do all autistic people share the same characteristics?</h4>
			No, autism manifests itself differently in each individual. However, many (not all) autistic people share the following characteristics to some degree:
			<ul>
			<li>Sensory differences</li>
			<li>Difficulty with social skills and communication</li>
			<li>Executive functioning differences</li>
			<li>Need for routine</li>
			<li>Special interests</li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h4>Do vaccines cause autism?</h4>
			No, there is <a href="http://www.cdc.gov/vaccinesafety/concerns/autism.html">no link between vaccines and autism</a>. In fact, many autistic people feel that the anti-vax movement creates unneccessary fearmongering regarding autism.
			<h4>Can autistic people live a normal life?</h4>
			Absolutely! While autistic adults and young people may need support to some degree, many autistic people go on to college and/or the workplace. It has even been suggested that <a href="https://www.newscientist.com/article/dn3676-einstein-and-newton-showed-signs-of-autism">some of history's greatest scientists showed signs of autism</a>.
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h4>Person-first or identity-first language?</h4>
			Many people with disabilities prefer "person-first" language, putting the person before the disability, e.g."person with disability". This website primarily uses identity-first language because many people in the Autistic community believe that autism is part of their identity.
			<h4>I've been told autism is overdiagnosed/part of a government conspiracy- is that true?</h4>
			No, doctors have just been getting better at identifying signs of autism. Any "conspiracy" stems from ignorance. Don't believe everything you read on the Internet!
		</div>
</div>
</div>
<div class="container-fluid bg-light" id="information">
<h2 class="text-center">Autism Resources</h2>
<div class="row">
	
	<div class="col-xs-12 col-sm-6">
		<h3>Websites</h3>
		<ul class="link-list">
			<li><a href="http://autisticadvocacy.org/">Autistic Self-Advocacy Network&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>
			<li><a href="http://www.autism.org.uk/">National Autistic Society (UK)&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>
			<li><a href="http://www.thinkingautismguide.com/">Thinking Person's Guide to Autism&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>

		</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3>Books</h3>
		<ul class="link-list">
			<li><a href="https://www.amazon.com/Thinking-Pictures-Expanded-Life-Autism/dp/0307275655">Thinking in Pictures&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>
			<li><a href="https://www.amazon.com/Mozart-Whale-Aspergers-Love-Story/dp/0743272846/">Mozart and the Whale&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>
			<li><a href="https://www.amazon.com/Look-Me-Eye-Life-Aspergers/dp/0307396185/">Look Me in the Eye: My Life with Asperger's&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
</a></li>

		</ul>
	</div>
</div>
</div>

<div class="container-fluid footer" id="footer">

	<div class="row">

		<div class="col-xs-6">
			<h4>Created by: Kathleen Burkhardt</h4>
			<ul style="list-style:none;">
			<li><a href="http://kburk.me"><i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;
Website</a></li>
			<li><a href="https://github.com/kburk1997"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;
Github</a></li>
			</ul>
		</div>
		<div class="col-xs-6" style="text-align: right !important;">
			<h4><a href="https://github.com/kburk1997/My-ASD-Journey">Source Code</a></h4>
		</div>
	</div>
</div>