<style>
body{
  background:#ff6666;
  color: #fff !important;
}
h1{
  color: #fff !important;
  font-size: 72px;
}



h2{
  color: #fff !important;
}

p{
  font-size:30px !important;
  line-height: 34px;
  padding-bottom:10px !important;
    margin-top:10px !important;

}

.container-fluid{
  width: 66%;
  height:100%;
}
.row{
  display:flex;
  justify-content:center;
  flex-direction:column;
  /*position:relative;*/
  align-content:center;
  margin-top:auto;
  margin-bottom:auto;
  height:100%;
}

.btn{
  background-color: #ff6666 !important;
  border-color: #fff !important;
  color: #fff !important;
  font-family: 'Unica One', cursive;
  font-size:30px;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 54px;
  }
  p{
    font-size:24px !important;
    line-height:28px;
  }
  .btn{
    font-size:24px !important;
  }
}

</style>

<p id="notice"><%= notice %></p>

<div class="container-fluid text-center">
<div class="row">
<p><%= @simulation.long_desc.html_safe %></p>


<%= link_to 'Back', index_page_path , :class => "btn btn-default"%>
</div>
</div>


<!--<p>
  <strong>Short name:</strong>
  <%= @simulation.short_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @simulation.image %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @simulation.long_desc %>
</p>-->

<!--<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>-->
